@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  background-color: var(--primary-color);
}

main {
  max-width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;
}

.bg-bug {background-color: var(--color-bug) !important;}
.bg-dark {background-color: var(--color-dark) !important;}
.bg-dragon {background-color: var(--color-dragon) !important;}
.bg-electric {background-color: var(--color-electric) !important;}
.bg-fairy {background-color: var(--color-fairy) !important;}
.bg-fighting {background-color: var(--color-fighting) !important;}
.bg-fire {background-color: var(--color-fire) !important;}
.bg-flying {background-color: var(--color-flying) !important;}
.bg-ghost {background-color: var(--color-ghost) !important;}
.bg-grass {background-color: var(--color-grass) !important;}
.bg-ground {background-color: var(--color-ground) !important;}
.bg-ice {background-color: var(--color-ice) !important;}
.bg-normal {background-color: var(--color-normal) !important;}
.bg-poison {background-color: var(--color-poison) !important;}
.bg-psychic {background-color: var(--color-psychic) !important;}
.bg-rock {background-color: var(--color-rock) !important;}
.bg-steel {background-color: var(--color-steel) !important;}
.bg-water {background-color: var(--color-water) !important;}
